<!DOCTYPE html>

<html lang="en">
<%- include("./partials/head")  %>


    <body>
        <!-- nav -->
        <div class="container-fluid">
            <div class="row flex-nowrap">
                <%- include("./partials/nav")  %>
                    <!-- right content -->
                    <div class="col py-3">

                        <div class="content ">
                            <form action="/" method="POST">
                                <H3>Add Question</H3>
                                <div class="m-4">
                                    <!-- category hereee from txt file -->
                                    <!-- parent category -->
                                    <select class="form-select" name="parentt" onclick="clickedd(this)" aria-label="Default select example">
                                        <option selected>Select Parent category</option>
                                        
                                        <% parentcategoryData.forEach(function(data1){ %>
                                        <option class="dropdownid" value="<%=data1.id %>"><%=data1.parent_category%></option>
                                        <% }) %>
                                     
                                    </select>

                                    <!-- childe category -->

                                    <select class="form-select" name="parentt" aria-label="Default select example">
                                        <option class="hii" selected>Select child category</option>
                                        
                                        <div class="sq">
                                            <% let dd=14 %>
                                        </div>
                                        <% getchildcategory.forEach(function(data){ %>
                                            <% if(dd == data.parent_category_id){ %>
                                            <option value="<%=data.id %>"><%=data.child_category%></option>
                                            <%  } %>
                                            <% }) %>
                                        
                                    </select>
                                </div>
                                <div class="d-flex justify-content-center m-4">

                                    <div class="input-group">
                                        <div class="">
                                            <span class="input-group-text" id="inputGroup-sizing-default">Question</span>
                                        </div>
                                        <input type="text" name="question" class="form-control">
                                    </div>
                                </div>

                                <div class="anwserinput m-4">
                                    <button type="button" value="0" class="btn btn-outline-primary addanwserbtn">ADD Anwser</button>
                                    <!-- anwser one -->
                                    <div class="anwsers input-group m-4">
                                        <div>
                                            <span class="input-group-text" id="inputGroup-sizing-default">Anwser 1</span>
                                        </div>
                                        <div class="cccc">
                                            <input type="text" name="answer" class="form-control addinput" style="width:27em">
                                        </div class="form-check">

                                        <input hidden class="form-check-input" name="corectanswer" value="false">
                                        <input class="form-check-input" onclick="clicked(this)" value="0" type="checkbox">
                                    </div>
                                    <!-- others from js -->
                                </div>

                                <button type="submit" class="btn btn-outline-primary createbtn mb-5">Create</button>

                            </form>

                            <hr>
                            <hr>
                            <form action="/" method="DELETE">
                                <div class="datatable">
                                    <table class="table">
                                        <thead class="thead-dark">
                                            <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">Questions</th>
                                                <th scope="col">Category</th>
                                                <th scope="col">Anwsers</th>
                                                <th scope="col">َAction</th>
                                            </tr>
                                        </thead>
                                        <tbody class="tbody">
                                            <% allquestions.forEach(function(data){ %>
                                                <td value="<%=data.id%>" name="id" scope="col">#</td>
                                                <td scope="col">
                                                    <%=data.question %>
                                                </td>
                                                <td scope="col">---</td>
                                                <td scope="col">
                                                    <select class="form-select">
                                                        <% data.answer.forEach(function(data){ %>
                                                        <!-- <option selected disabled>All Anwsers</option> -->
                                                        <option class=""><%=data%><option>
                                                        <% }) %>
                                                        </select>
                                                </td>
                                                <td>
                                                    <!-- <button type="submit" class="detbtn btn btn-danger">DELETE</button> -->
                                                    <a class="delete" data-doc="<%=data.id%>">delete</a>
                                                    <!-- <button value="" class="detbtn btn btn-warning">EDIT</button> -->
                                                </td>
                                                </tr>
                                                <% }) %>
                                        </tbody>
                                    </table>


                                </div>
                            </form>
                        </div>

                    </div>

                    <!-- end of right content -->
            </div>

        </div>

    </body>

    <!-- footer here -->



</html>
<script src="/scripts/questions.js"></script>



<script>
    // for delete
    const trashcan = document.querySelector('a.delete');

    trashcan.addEventListener('click', (e) => {
        const endpoint = `/${trashcan.dataset.doc}`;

        fetch(endpoint, {
                method: 'DELETE',
            }) //response from app.js
            .then(response => response.json())
            .then(data => window.location.href = data.redirection)
            .catch(err => console.log(err));
    });

    // const dd = document.querySelector('dropdownid');
    // dd.addEventListener("click", (eo) => {
    //     console.log('dddl');
    // })
</script>